.sidenav_wrapper {
  padding: var(--scale-md);
  max-width: 100%;
}
.sidenav_link {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  font-size: 20px;
  padding: var(--scale-md);
  margin: 0 var(--scale-md) var(--scale-md) var(--scale-md);
}
.sidenav_active_link {
  color: var(--primary-color);
}
.sidenav_wrapper .sidenav_active_link > span {
  font-weight: 700;
}
.sidenav_link:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.4s ease-in-out 0.1s;
  color: var(--primary-color);
  text-decoration: none;
}
.sidenav_link > span {
  font-weight: 500;
}
