.emoji_modal_wrapper {
  background-color: var(--white);
  border: 1px solid var(--secondary-color);
  box-shadow: 1px 1px 2px 1px var(--shadow-color);
  margin-top: var(--scale-md);
  min-width: 15rem;
  padding: var(--scale-md);
  position: absolute;
  left: 0;
  top: 60%;
  transform-origin: 0 0;
  transform: scaleY(0);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
  z-index: 6;
}
.show_modal {
  transform: scale(1);
}
