.header_wrapper {
  padding: var(--scale-md) calc(var(--scale-xl) + var(--scale-sm));
  background-color: var(--white);
  color: var(--primary-color);
}
.title_subsection {
  color: var(--secondary-color);
}
