.sidebar_container {
  display: grid;
  grid-template-rows: auto 1fr 1.5fr;
  /* max-width: 22.5%; */
}
.profile_link:hover {
  text-decoration: none;
}
.createpost_cta_container {
  margin: var(--scale-md);
  padding: var(--scale-md);
  width: 90%;
}
.createpost_cta {
  background-color: var(--primary-color);
  color: var(--off-white);
  font-size: 20px;
  text-transform: none;
  width: 90%;
  padding: var(--scale-md) 0;
}
.user_info_container {
  margin: var(--scale-md);
  margin-top: auto;
  cursor: default;
}
.logout_wrapper {
  display: grid;
  grid-template-columns: 0.2fr auto 0.1fr;
}
.logout_wrapper div span {
  display: block;
}
